<div class="pokemon-details">
  <div class="details-container">
    <div class="details-content">
      <img src="/assets/bulbasaur.png" alt="Pokédex logo" class="pokemon-image" />
      <div>
        <div class="details-info">
          <div class="details-header">
            <h3>#001</h3>
            <h1>Bulbasaur</h1>
            <div class="details-types"><span class="grass">Grass</span> <span class="poison">Poison</span></div>
          </div>
        </div>
        <p class="details-description">
          A strange seed was planted on its back at birth. the plant sprouts and grows with this pokémon.
        </p>
        <div class="measurements">
          <span>
            <span class="label">Height</span>
            <span class="value">0.7m</span>
          </span>
          <span>
            <span class="label">Weight</span>
            <span class="value">0.7m</span>
          </span>
        </div>

        <h2>Stats</h2>
        <div class="stats">
          <div class="stat hp">
            <span>HP</span>
            <span class="hp">47</span>
          </div>
          <div class="stat atk">
            <span>ATK</span>
            <span class="atk">47</span>
          </div>
          <div class="stat def">
            <span>DEF</span>
            <span class="def">47</span>
          </div>
          <div class="stat spa">
            <span>SpA</span>
            <span class="spa">47</span>
          </div>
          <div class="stat spd">
            <span>SpD</span>
            <span class="spd">47</span>
          </div>
          <div class="stat speed">
            <span>SPD</span>
            <span class="speed">47</span>
          </div>
        </div>
        <h2>Abilities</h2>
        <div class="abilities">
          <button class="ability-button">Overgrow</button>
          <button class="ability-button">Chlorophyll</button>
        </div>
      </div>
    </div>

    <div class="evolution-details">
      <h2>Evolution</h2>
      <div class="evolution-images">
        <img src="/assets/bulbasaur.png" alt="Bulbasaur" />
        <mat-icon>arrow_forward</mat-icon>
        <img src="/assets/bulbasaur.png" alt="Ivysaur" />
        <mat-icon>arrow_forward</mat-icon>
        <img src="/assets/bulbasaur.png" alt="Venusaur" />
      </div>
    </div>
  </div>
</div>
