@import '../../../styles/variables';
.card {
  width: 344px;
  min-height: 196px;
  border-radius: 24px;
  box-shadow: 0px 21px 25.9px -14px rgba(0, 0, 0, 0.1);
  padding: 17px;
  justify-content: space-between;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    width: 307px;
    height: auto;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 15px;
      font-weight: 700;
    }
    .pokemon-type {
      display: flex;
      gap: 9px;

      span {
        width: 50px;
        height: 21px;
        padding: 6px 12px;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50px;

        &.normal {
          background-color: $type-normal;
        }
        &.grass {
          background-color: $type-grass;
        }
        &.poison {
          background-color: $type-poison;
        }
        &.fire {
          background-color: $type-fire;
        }
        &.water {
          background-color: $type-water;
        }
        &.flying {
          background-color: $type-flying;
        }
        &.fighting {
          background-color: $type-fighting;
        }
        &.electric {
          background-color: $type-electric;
        }
        &.ground {
          background-color: $type-ground;
        }
        &.rock {
          background-color: $type-rock;
        }
        &.psychic {
          background-color: $type-psychic;
        }
        &.ice {
          background-color: $type-ice;
        }
        &.bug {
          background-color: $type-bug;
        }
        &.ghost {
          background-color: $type-ghost;
        }
        &.steel {
          background-color: $type-steel;
        }
        &.dragon {
          background-color: $type-dragon;
        }
        &.dark {
          background-color: $type-dark;
        }
        &.fairy {
          background-color: $type-fairy;
        }
      }
    }
  }

  .card-content {
    display: flex;
    gap: 23px;

    .card-title {
      font-size: 27px;
      font-weight: 700;
      margin-bottom: 4px;
    }

    .card-description {
      font-size: 13px;
      font-weight: 400;
      max-height: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      @media (max-width: 768px) {
        font-size: 11px;
      }
    }

    .card-button {
      display: flex;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 50px;
      background: $button-primary;
      font-size: 15px;
      margin-top: auto;
      cursor: pointer;

      @media (max-width: 768px) {
        width: 78px;
        border-radius: 5px;
        font-size: 12px;
      }
    }
  }
  .card-image {
    width: 123px;
    height: auto;
    object-fit: contain;

    @media (max-width: 768px) {
      width: 109px;
      height: auto;
    }
  }
}
