<div class="card">
  <div class="card-header">
    <div class="pokemon-type">
      <span *ngFor="let type of pokemon.types" [ngClass]="type.type.name">{{ type.type.name | titlecase }}</span>
    </div>
    <h3>#{{ pokemonId }}</h3>
  </div>
  <div class="card-content">
    <div>
      <h1 class="card-title">{{ pokemon.name | titlecase }}</h1>
      <p class="card-description">
        {{ pokemon.flavor_text_entries[0].flavor_text | titlecase }}
      </p>
      <button class="card-button">Know More</button>
    </div>
    <img
      [src]="pokemon.sprites.other['official-artwork'].front_default"
      alt="{{ pokemon.name }}"
      alt="{{ pokemon.name }}"
      class="card-image" />
  </div>
</div>
