@import '../_variables';

.dark-theme {
  background-color: $dark-bg-color;
  color: $dark-text;

  .card,
  .details-content {
    background-color: $dark-card-bg;
  }

  .measurements {
    span {
      background-color: $button-primary;
    }
  }

  .ability-button {
    background-color: $button-primary;
  }
}
