@import '../_variables';

.light-theme {
  background-color: $light-bg-color;
  color: $light-text;

  .card,
  .details-content {
    background-color: $light-card-bg;
  }

  .measurements {
    span {
      background-color: $light-bg-color;
    }
  }

  .ability-button {
    background-color: $light-bg-color;
  }
}
