$dark-bg-color: #dd092f;
$dark-card-bg: #77b35b;

$light-bg-color: #f5f5f5;
$light-card-bg: #ffffff;

$dark-text: #f6f8fc;
$light-text: #1e1e1e;

$button-primary: #bfc66b;

$type-grass: #bfc66b;
$type-poison: #5092b7;
$type-fire: #ff6d00;
$type-water: #5090d6;
$type-flying: #a890f0;
$type-fighting: #c03028;
$type-electric: #f8d030;
$type-ground: #e0c068;
$type-rock: #b8a038;
$type-psychic: #f85888;
$type-ice: #98d8d8;
$type-bug: #a8b820;
$type-ghost: #705898;
$type-steel: #b8b8d0;
$type-dragon: #7038f8;
$type-dark: #705848;
$type-fairy: #ee99ac;

$stats-hp: #ff5350;
$stats-atk: #ff994d;
$stats-def: #ffea00;
$stats-spa: #85ddff;
$stats-spd: #96da83;
$stats-speed: #dd092f;
