.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  @media (max-width: 768px) {
    padding: 20px 15px;
  }

  img {
    width: 192px;
    height: 61px;
    cursor: pointer;
    @media (max-width: 768px) {
      width: 106px;
      height: 32px;
    }
  }
}
