@import '../../../styles/variables';

.pokemon-list {
  @media (max-width: 768px) {
    margin-left: 26px;
    margin-right: 26px;
  }
}
.pokedex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: hidden;

  .pokedex-logo {
    margin-top: 136px;
    width: 495px;
    height: 152px;
    margin-bottom: 52px;

    @media (max-width: 768px) {
      width: 70%;
      height: auto;
      margin-bottom: 32px;
      margin-top: 200px;
    }
  }

  .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
    gap: 12px;

    @media (max-width: 768px) {
      gap: 8px;
    }

    .search-input {
      padding: 0 20px;
      width: 1080px;
      height: 53px;
      border-radius: 10px;
      box-shadow: 4px 4px 17.1px -8px rgba(0, 0, 0, 0.25);
      font-size: 20px;
      font-weight: 400;
      background-color: aliceblue;
      color: #c9b3b3;
      line-height: normal;
      border: none;
      outline: none;

      @media (max-width: 768px) {
        width: 220px;
        font-size: 12px;
        border-radius: 10px;
      }
    }

    .search-button {
      background-color: $stats-hp;
      width: 46px;
      height: 56px;
      border-radius: 10px;
      box-shadow: 4px 4px 17.1px -8px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;

      mat-icon {
        margin-left: 4px;
        font-size: 23px;
      }

      @media (max-width: 768px) {
        width: 54px;
        height: 54px;
      }
    }
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;
    margin: 0; // Remova ou ajuste a margem
    padding: 0 20px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
