@import '../../../styles/variables';

.pokedex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 136px;
  overflow-x: hidden;

  .pokedex-logo {
    width: 495px;
    height: 152px;
    margin-bottom: 52px;
  }
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 170px;
    padding-left: 170px;
    gap: 12px;
    margin-bottom: 34px;

    .search-input {
      width: 1110px;
      height: 53px;
      border-radius: 10px;
      box-shadow: 4px 4px 17.1px -8px rgba(0, 0, 0, 0.25);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .search-button {
      background-color: $stats-hp;
      width: 56px;
      height: 56px;
      border-radius: 10px;
      box-shadow: 4px 4px 17.1px -8px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;
    padding-right: 170px;
    padding-left: 170px;

    .card {
      width: 344px;
      // height: 196px;
      border-radius: 24px;
      box-shadow: 0px 21px 25.9px -14px rgba(0, 0, 0, 0.1);
      padding: 17px;

      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .pokemon-type {
          display: flex;
          gap: 9px;
        }

        span {
          width: 50px;
          height: 21px;
          padding: 6px 12px;
          justify-content: center;
          align-items: center;
          text-align: center;
          gap: 9px;
          background-color: $stats-primary;
          border-radius: 50px;
        }
      }

      .card-content {
        display: flex;
        gap: 23px;

        .card-title {
          font-size: 27px;
          font-weight: 700;
          margin-top: 10px;
        }

        .card-description {
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 8px;
        }

        .card-button {
          display: flex;
          padding: 8px 16px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 50px;
          background: #bfc66b;
          font-size: 15px;
        }
      }
      .card-image {
        width: 123px;
        height: auto;
      }
    }
  }
}
