@import 'https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&family=Signika:wght@300..700&display=swap';

@import 'styles/variables';
@import 'styles/global';
@import 'styles/themes/light-theme';
@import 'styles/themes/dark-theme';

* {
  margin: 0;
  padding: 0;
  box-sizing: box;
  font-family: 'Kumbh Sans', sans-serif;
}

button {
  all: unset;
  cursor: pointer;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-image: url('/assets/pokeball.png'), url('/assets/pokeball.png'), url('/assets/pokeball.png');
  background-position:
    -15% 0%,
    82% -50%,
    117% 82%;
  background-repeat: no-repeat;
  background-size: 25vw, 25vw, 25vw;

  @media (max-width: 768px) {
    background-size: 50vw, 50vw, 50vw;
    background-position:
      -50% -5%,
      90% -16%,
      165% 47%;
  }
}
